.document {
    box-shadow: inset 0 0 0 1000px rgba(22, 8, 42, 0.8);
    background-image: url("/stars-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.docTitle {
    color: #ffffff;
    font-size: 2.4rem;
    font-style: normal;
    margin-top: 80px;
    font-weight: 400;
    line-height: normal;
}
