.profile {
    box-shadow: inset 0 0 0 1000px rgba(22, 8, 42, 0.95);
    background-image: url("/stars-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
}

.portrait {
    width: 238px;
    height: 258px;
    background-image: url("/base.png");
    background-position: left;
    position: relative;
    border: solid 2px black;
    overflow: hidden;
}

.portrait img {
    margin-top: 80px;
}

.blackRectangle {
    width: 100%;
    height: 36px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 100px #160430;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discordHolder {
    width: 206px;
    height: 45px;
    border-radius: 18.801px;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    font-size: 15.041px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #3b2063;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 220px);
    color: white;
    font-size: 32px;
}

.loading h3 {
    margin-bottom: 25px;
}

.notFound {
    width: 70vw;
    background: linear-gradient(
            180deg,
            rgba(158, 0, 172, 0.2) 13.51%,
            rgba(0, 0, 0, 0) 89.19%
        ),
        #100027;
    min-height: 400px;
    border-radius: 8px;
    padding: 40px;
    margin: 0 auto;
}

.changeCapeOption {
    width: 600px;
    height: 200px;
    border-radius: 8px;
    border: solid 2px black;
    margin-left: 30px;
}

.notFoundOption {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 4px;
    background: #261046;
    border-bottom: solid 2px white;
    cursor: pointer;
}

.status {
    width: 238px;
    height: 122px;
    flex-shrink: 0;
    background: linear-gradient(
        180deg,
        #17002d 0%,
        rgba(46, 3, 87, 0.51) 50%,
        rgba(33, 0, 65, 0) 100%
    );
    box-shadow: 0px 4px 4px 0px #000;
    margin-top: 40px;
}

.sectionTitle {
    width: 100%;
    height: 36px;
    background-color: black;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 100px #160430;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cape {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 258px;
    width: 100%;
    position: relative;
}

.content {
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-top: 50px;
    @media (min-width: 768px) {
        width: 65vw;
        margin-top: 0;
    }
}

.cape img {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.notFoundTitle {
    border-bottom: solid 2px white;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.notFound h2 {
    color: #ffffff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cape div {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.6);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.status span {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.68px;
}

.timeline {
    width: 100%;
    min-height: 300px;
    background: linear-gradient(
            180deg,
            rgba(158, 0, 172, 0.2) 13.51%,
            rgba(0, 0, 0, 0) 89.19%
        ),
        #100027;
    margin-top: 40px;
    border-radius: 8px;
}

.tlIcon {
    max-width: none !important;
    max-height: none !important;
}
.card {
    background-color: #3b2063;
    width: 100%;
    height: 100%;
}

.card h3 {
    color: #ffffff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.appliedBy {
    background: rgb(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.2rem;
    height: 40px;
    font-style: normal;
    font-weight: 400;
}

.card p {
    margin-top: 16px;
    color: #ffffff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;
}

.card h4 {
    color: #ffffff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popOuter {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.popInside {
    overflow-y: auto;
    max-height: 90vh;
    background: linear-gradient(
            180deg,
            rgba(158, 0, 172, 0.2) 13.51%,
            rgba(0, 0, 0, 0) 89.19%
        ),
        #100027;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 60px;
    width: 800px;
    min-height: 600px;
    display: flex;
    align-items: center;
    padding-top: 60px;
    color: #ffffff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    flex-direction: column;
    line-height: normal;
    padding-bottom: 40px;
}

.dcHolder input {
    height: 68px;
    width: 250px;
    display: flex;
    padding-left: 18px;
    background: #261046;
    outline: none;
    border: 0;
    border-radius: 10px;
}

.dcHolder {
    color: white;
}

.dcHolder input::placeholder {
    color: #a4a4a4;
    font-size: 16.294px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popInside h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

.capeOption {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capeOption img {
    width: 550px;
    height: 250px;
    border-radius: 8px;
    border: solid 2px black;
    margin-left: 32px;
}

.checkboxRound {
    width: 0.6em;
    height: 0.6em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkboxRound:checked {
    background-color: #257afd;
}
