.home {
    box-shadow: inset 0 0 0 1000px rgba(22, 8, 42, 0.8);
    background-image: url("/stars-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper {
    width: 1200px;
    height: auto;
    max-width: 100vw;
    margin-top: 80px;
    color: white !important;
}

.swiper img {
    display: block;
    width: 100%;
    height: auto;
    animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.sectionTitle {
    color: #fff;
    text-align: center;
    text-shadow:
        4px 4px 100px rgba(0, 0, 0, 0.8),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.newPolice {
    height: 155px;
    width: 155px;
    flex-shrink: 0;
    background-color: #261046;
    border-radius: 100%;
    overflow: hidden;
    margin: 18px 32px;
}

.newMilitary {
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100vw;
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    align-items: center;
    overflow: hidden;
}

.newMilitary img {
    margin-top: -15px;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
